<h1>管理者画面:Users</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', admins_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admins_user_path(user)%></td>
        <td><%= link_to 'Destroy',admins_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>管理者ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.email %></td>
      <td><%= link_to 'Show', admins_user_path(admin) %></td>
    </tr>
  <% end %>
  </tbody>
</table>