<h1 class="pt-5">管理者画面:Users</h1>
<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to I18n.t('.destroy'),admins_user_path(user), method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>  
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>管理者ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= link_to '管理者作成', admins_new_administer_path, class: "btn btn-secondary", id: "new-admin" %>
</div>