<div class="mt-5 container">
  <div class="p-4 row bg-info d-block justify-content-center">
    <h1>ランキング</h1>
    <table>
      <thead>
        <tr>
          <th>ランク</th>
          <th>ユーザー名</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ranking_list.each_with_index do |user_status, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= user_status.name %></td>
            <td>Lv. <%= user_status.level %>/</td>
            <td>exp:<%= user_status.exp %>/</td>
            <td>
              <strong><%= user_status.score %></strong> pt.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table>
  </div>
</div>