<div class="row m-2 p-md-5 ">
  <div class="col-12 col-md-5 mt-5 mr-5">
    <h3 class="m-3 text-center">『CHAKKA!』とは？</h3>
    <div class="pt-4 justify-content-center">
      <p class="d-flex align-items-center mb-2 small">
        CHAKKAは、あなたのやる気に火を点けるToDoアプリです。<br>
        PC/スマートフォンの表示に対応しており、いつでもあなたの作業をサポートすることができます。<br>
        またCHAKKAはシングルページで構成され、ストレス無く快適な操作が可能です。<br>
        まずはゲストログインで操作感を体験してみてください。
      </p>
      <p class="mt-5 text-center">
        <span class="d-flex d-md-block p-1">
          つくった人: Tawara Hiroyasu
          <a href='https://github.com/HiroyasuTawara'><i class="fa-brands fa-github"></i></a>
          <a href='https://twitter.com/Hiro_Twr_49'><i class="fa-brands fa-twitter"></i></a>
        </span>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-6 mt-md-5 mb-5 pb-2 border border-info rounded" >
    <h2 class="mb-2 text-info">Log in</h2>
    <div class="p-4 justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group row">
          <%= f.label :email, class:"col-sm-6 col-form-label"  %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"メールアドレスを入力" %>
        </div>
        <div class="field form-group row">
          <%= f.label :password, class:"col-sm-6 col-form-label"  %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"メールアドレスを入力" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end %>
        <div class="actions text-center">
          <%= f.submit "ログイン", class:"btn btn-primary mt-4" %>
        </div>
      <% end %>
    </div>
    <p><%= render "devise/shared/links" %></p>
    <hr>
    <p><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, id: "login-link" %></p>
    <p><%= link_to 'ゲスト管理者ログイン（閲覧用）', admins_guest_sign_in_path, method: :post, id: "login-link" %></p>
  </div>
</div>

