<!DOCTYPE html>
<html>
  <head>
    <title>Chakka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'react-tabs/style/react-tabs' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
    <script src="https://kit.fontawesome.com/b893fb5e5f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
      <a class="navbar-brand mb-0 h1" href="#">CHAKKA!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto ">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'users/edit', class: "nav-link" do %><i class="fa-solid fa-user"> <%= current_user.name %> でログイン中</i><% end %>
            </li>
            <li class="nav-item active" >
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %><i class="fa-solid fa-right-from-bracket"> ログアウト</i><% end %>
            </li>
            <li class="nav-item active">
              <%= link_to root_path, class: "nav-link" do %><i class="fa-solid fa-house">ホーム</i><% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'admins/edit', class: "nav-link" do %><i class="fa-solid fa-user"> 管理者アカウントでログイン中</i><% end %>
            </li>
            <li class="nav-item active">
              <%= link_to admins_users_path, class: "nav-link" do %><i class="fa-solid fa-house">管理画面へ</i><% end %>
            </li>
            <li class="nav-item active" >
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %><i class="fa-solid fa-right-from-bracket"> ログアウト</i><% end %>
            </li>
            <li class="nav-item active">
              <%= link_to root_path, class: "nav-link" do %><i class="fa-solid fa-house">ホーム</i><% end %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to new_user_registration_path, class: "nav-link" do %><i class="fa-solid fa-user-plus"> アカウントを新規作成 </i><% end %>
            </li>
            <li class="nav-item active">
              <%= link_to new_user_session_path, class: "nav-link" do %><i class="fa-solid fa-right-to-bracket"> ログイン </i><% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  </header>
    <div class="container mt-5 pt-5">
      <div class="row p-2 mr-2 justify-content-end fixed-bottom text-right">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
