<!DOCTYPE html>
<html>
  <head>
    <title>Chakka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>

    <%= yield %>
    <% if user_signed_in? %>
    <div>あなたの名前:<%= current_user.name %></div>
    <%= link_to "編集", 'users/edit' %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
    <%end%>
  </body>
</html>
